<% content_for :title do  %>
	Bem vindo(a)
<% end %>

<div class="jumbotron">
	<div class="col-sm-8 mx-auto">
		<h1>SIG-SEDESC</h1>
		<h5>Sistema de Informações Gerenciais da Secretaria de Desenvolvimento Social(SEDESC).</h5>
		<a class="btn btn-primary" href="#" role="button">Módulos que você pode acessar »</a>
	</div>
</div>

