<% content_for :title do  %>
	Bem vindo(a)
<% end %>

<div class="jumbotron">
	<div class="col-sm-8 mx-auto">
		<h1>Tela inicial</h1>
		<p>Texto legal</p>
		<p>Texto legal</p>
		<a class="btn btn-primary" href="#" role="button">Botão legal »</a>
	</div>
</div>

