<%= simple_form_for(almoxarifado_setor, remote: true) do |f| %>
  <div class="modal-body">
    <%= f.input :descricao %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Salvar", class: 'btn btn-success' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
  </div>
<% end %>
