<div class="modal fade" id="modal-comprovante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Comprovante</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <object data="<%= comprovante_almoxarifado_retirada_path(@almoxarifado_retirada, format: :pdf) %>" type="application/pdf" width="100%" height="500px">
          <embed src="<%= comprovante_almoxarifado_retirada_path(@almoxarifado_retirada, format: :pdf) %>" type="application/pdf" frameborder="0" width="100%" height="500px">
            <p>Seu navegador não suporta PDFs imbutidos na página. Por favor baixe o PDF aqui: <a href="<%= comprovante_almoxarifado_retirada_path(@almoxarifado_retirada, format: :pdf) %>">Baixar PDF</a>.</p>
          </embed>
        </object>
      </div>
    </div>
  </div>
</div>
