<% content_for(:title) do %>
  Almoxarifado - Retiradas
<% end %>

<table class="table table-hover" id="almoxarifado-retiradas-datatable" data-source="<%= almoxarifado_retiradas_path(format: :json) %>">
  <thead>
    <tr>
      <th data-data="almoxarifado_materiais_descricao">Material</th>
      <th data-data="quantidade">Quantidade</th>
      <th data-data="setor">Setor</th>
      <th data-data="responsavel">Responsável</th>
      <th data-data="data">Data</th>
      <th data-data="acoes">Ações</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div id="modal-window"></div>