<h1>Editing Almoxarifado Entrada</h1>

<%= render 'form', almoxarifado_entrada: @almoxarifado_entrada %>

<%= link_to 'Show', @almoxarifado_entrada %> |
<%= link_to 'Back', almoxarifado_entradas_path %>
