<% content_for(:title) do %>
  Almoxarifado - Entradas
<% end %>

<table class="table table-hover" id="almoxarifado-entradas-datatable" data-source="<%= almoxarifado_entradas_path(format: :json) %>">
  <thead>
    <tr>
      <th data-data="almoxarifado_materiais_descricao">Material</th>
      <th data-data="quantidade">Quantidade</th>
      <th data-data="numero_empenho">Numero do empenho</th>
      <th data-data="data">Data</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

