// Place all the styles related to the almoxarifado/retiradas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#embed-pdf{
	background: transparent image-url('loading.gif') no-repeat center;
  width: 100%;
  height: 400px;
}