<h1>Editing Almoxarifado Material</h1>

<%= render 'form', almoxarifado_material: @almoxarifado_material %>

<%= link_to 'Show', @almoxarifado_material %> |
<%= link_to 'Back', almoxarifado_materiais_path %>
