<% content_for(:title) do %>
  Almoxarifado - Materiais
<% end %>

<table class="table table-hover" id="almoxarifado-materiais-datatable" data-source="<%= almoxarifado_materiais_path(format: :json) %>">
  <thead>
    <tr>
      <th data-data="descricao">Descrição</th>
      <th data-data="quantidade">Quantidade</th>
      <th data-data="acoes">Ações</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div id="modal-window"></div>