<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @almoxarifado_material.descricao %>
</p>

<%= link_to 'Edit', edit_almoxarifado_material_path(@almoxarifado_material) %> |
<%= link_to 'Back', almoxarifado_materiais_path %>
